---
import "@/styles/global.css";
import { type Locales, useTranslations } from "@/utils/i18n";

interface Props {
  locale: Locales;
  title?: string;
  description: string;
  ogp?: string;
}

const { locale, title, description, ogp } = Astro.props;
const t = useTranslations(locale);

const convertedTitle = title
  ? `${title} | ${t("logica / Takuto Nagami")}`
  : `${t("logica / Takuto Nagami")}`;
---

<!doctype html>
<html lang={locale} class="m-0 w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="alternate" hreflang="en" href="https://logica0419.dev/en" />
    <link rel="alternate" hreflang="ja" href="https://logica0419.dev/ja" />
    <title>{convertedTitle}</title>
    <meta name="description" content={convertedTitle} />
    <meta property="og:title" content={convertedTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:site_name" content={convertedTitle} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content={ogp || "/img/ogp.png"} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={convertedTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image" content={ogp || "/img/ogp.png"} />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="48x48" />
  </head>

  <body class="m-0 w-full h-full">
    <slot />
  </body>
</html>
